.container {
  width: 95%;
  width: 70%;
  max-width: 1225px;
  padding-right: unset;
  padding-left: unset;
}

.section.hidden, .is-hidden {
  display: none;
}

.primary-fill {
  background-color: #ccc;
}

.primary-text {
  color: #333;
}

.engagement-block__button {
  display: unset;
}

.is-size-6 {
  font-size: 0.75em;
  font-weight: normal;
}

.is-line-height-1-5em {
  line-height: 1.5em;
}

.is-color-white {
  color: white;
}

.is-color-white a {
  color: white;
}

.is-extra-information {
  display: none;
}

.modals .is-extra-information {
  display: flex;
}

.mt-6 {
  margin-top: 1em;
}